
.loginBody {
    background-image: url("../../assets/images/bg.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100% !important;
      }
 
      @font-face {
        font-family: "Sofia-Medim";
        src: url("../../assets/Fonts/Sofia/Sofia%20Pro%20Medium%20Az.ttf") format('truetype');
      }
      @font-face {
        font-family: "Sofia-Regular";
        src: url("../../assets/Fonts/Sofia/Sofia%20Pro%20Regular%20Az.otf") format('opentype');
      }
      .loginTitle{
color: #FFFFFF;
font-size: 44.31px;
font-family: "Sofia-Medim",sans-serif;
text-align: center;


      }
      .inputGroup{
        width: 987px;
        height: 64.12px;
        margin-left: auto;
    margin-right: auto;
      }
      .loginForm{
        width: 100%;
      }
      .Loginsuptitle{
        color: #8E949A;
        font-size: 33.46px;
        font-family: "Sofia-Regular",sans-serif;
        text-align: center;
        margin-bottom: 70px;
      }
      .form-control{
        width: 987px;
        height: 64.12px;
      }
      .loginBtn{
        margin-top: 38px;
        height: 68.48px;
        background-color: #456EFE;
        font-family: "Sofia-Medim",sans-serif;
font-size: 21px;
width: 987px !important;
      }
      @media only screen and (max-width: 768px) {
        .loginBtn{
          width: 90% !important;
        }
        .inputGroup{

          width: 90% !important;
        }
        .loginForm{
          padding: 0 !important;
        }
        .loginTitle{
          font-size: 30px;
        }
        .Loginsuptitle{
          font-size: 16px;
        }
      }